// PATHS
$path-source: '../';
$path-node-modules: '../../node_modules/';
$path-img: '#{$path-source}img/';
$path-font: '#{$path-source}fonts/';
//FONTS
$font-regular: 'Averta Regular';
$font-bold: 'Averta Bold';
$font-light: 'Averta light';
//SIZE
$tablet-width: 990;
$desktop-width: 1024;
$desktop-large-width: 1440;
// COLORS
$base-color: #005168;
$white: #fff;
$line-color: #00ffb2;
$card-color: #00a9d9;
$empty-card-color: #00627f;
$positive-color: #a3fe6b;