.header {
    background-color: $base-color;
    padding: 10px 0;
}

.header__title {
    color: $white;
    font-family: $font-bold;
    @include font-scale(320, 1024, 16, 32);
}

.header__logo {
    display: block;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 20px 0;
    }
    .header__logo {
        margin-top: 5px;
    }
}